@charset "UTF-8";
html {
  font-size: 62.5%;
  background: #f9f8f6; }

header #header_in {
  padding-top: 10px;
  padding-bottom: 4px; }
header .sp_navi_li {
  width: 180px;
  position: absolute;
  top: 50px;
  right: 2%;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding: 0;
  display: inline;
  z-index: 100; }
  header .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header .sp_navi_li li a {
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      text-decoration: none; }

@media (max-width: 550px) {
  header .logo {
    width: 190px;
    float: left; } }
@media (min-width: 550px) {
  header .sp_navi {
    display: none; }
  header #header_in {
    padding: 15px 0 0 0; }
  header .pc_navi_li {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    header .pc_navi_li li {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0; }
      header .pc_navi_li li a {
        color: #626262;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem;
        float: left;
        padding-right: 10px; }
        header .pc_navi_li li a:hover {
          color: #42b9d0; }
      header .pc_navi_li li.navi_toppage a {
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;
        background-image: url("../images/top/navi_top.png");
        background-size: 40px 40px; } }
@media (max-width: 550px) {
  header .pc_navi {
    display: none; } }
.main {
  max-width: 100%;
  margin: 0 auto; }
  .main .items_body {
    max-width: 100%;
    text-align: center;
    float: left; }
    .main .items_body .new-items {
      max-width: 100%;
      text-align: center;
      margin: 0 auto; }
    .main .items_body .item_title {
      margin: 3% 0; }
    .main .items_body .item-li {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .main .items_body .item-li .li {
        width: 40%;
        margin: 0 auto; }
    .main .items_body .items {
      background-color: white;
      width: 33%;
      margin-bottom: 0.5%; }
      .main .items_body .items img {
        padding: 3%; }
      .main .items_body .items h3 {
        font-size: 86%;
        text-align: left;
        padding: 3%; }
      .main .items_body .items p {
        float: left;
        padding-left: 3%; }
  .main .btn {
    margin-top: 5%;
    max-width: 100%; }
    .main .btn .btn-position {
      display: flex;
      justify-content: space-between;
      margin: 3% 0; }
      .main .btn .btn-position a {
        width: 20%;
        background-color: #887f69;
        color: white;
        font-size: 100%;
        text-decoration: none; }
  .main .shopping-guide {
    max-width: 100%;
    margin: 0 auto; }
    .main .shopping-guide .guide {
      display: flex;
      align-items: stretch; }
    .main .shopping-guide .box {
      background-color: white;
      width: 49%;
      margin: 0.5%; }
      .main .shopping-guide .box h5 {
        width: 100%;
        font-size: 150%;
        padding: 2% 2% 0 2%;
        text-align: left; }
      .main .shopping-guide .box .test {
        width: 100%;
        padding: 0 2%;
        text-align: left; }
        .main .shopping-guide .box .test h6 {
          font-size: 100%;
          text-align: left;
          color: #887f69;
          padding: 0 2%; }
        .main .shopping-guide .box .test p {
          font-size: 100%;
          text-align: left;
          color: block;
          padding: 0 2%; }

.sidebar {
  float: left;
  margin-left: 10%; }
  .sidebar .item-search {
    padding: 3% 0; }
    .sidebar .item-search .bg-search {
      background-color: white;
      max-width: 100%; }
      .sidebar .item-search .bg-search img {
        margin: 10% 5% 0 5%; }
      .sidebar .item-search .bg-search .search_area {
        padding: 1% 0; }
        .sidebar .item-search .bg-search .search_area #form02 {
          background-color: #eeeeee;
          border: 1px #eeeeee solid;
          margin: 5%;
          display: flex;
          justify-content: space-between; }
        .sidebar .item-search .bg-search .search_area #form02 input {
          vertical-align: top;
          margin: 0px;
          box-sizing: border-box;
          background-color: transparent; }
        .sidebar .item-search .bg-search .search_area #input02 {
          border: none;
          width: 60%; }
        .sidebar .item-search .bg-search .search_area #submit02 {
          width: 30%;
          border: none;
          background-image: url("../images/top/search_icon.png");
          background-position: center;
          background-size: auto;
          background-repeat: no-repeat; }
  .sidebar .icon {
    float: right;
    margin: auto 2%; }
  .sidebar .categories_li {
    background-color: white;
    padding: 2%;
    margin-bottom: 1%;
    justify-content: space-around;
    border-style: none; }
    .sidebar .categories_li img {
      padding: 5%;
      vertical-align: middle; }
    .sidebar .categories_li a {
      text-decoration: none; }
  .sidebar .bg-title {
    width: 100%;
    background-color: #887f69;
    margin: 3% 0 0 0; }
    .sidebar .bg-title img {
      padding: 5%;
      vertical-align: middle; }
  .sidebar .bg-white {
    background-color: white;
    padding: 5%; }
    .sidebar .bg-white .btn {
      text-align: center; }

footer {
  margin-top: 3%; }
  footer .container {
    text-align: center; }
    footer .container .top-page {
      float: right;
      margin-bottom: 2%;
      margin-right: 2%; }
  footer .foot_navi {
    border-width: 1px 0px 0px 0px;
    /* 太さ */
    border-style: solid;
    /* 線種 */
    border-color: #887f69;
    /* 線色 */
    height: 1px;
    /* 高さ(※古いIE用) */ }
    footer .foot_navi .foot_navi_li {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-top: 2%; }
      footer .foot_navi .foot_navi_li li {
        padding: 0 3%; }
      footer .foot_navi .foot_navi_li a {
        display: block;
        text-decoration: none; }
  footer .copy {
    margin: 7% 0 2% 0; }

.pan .pankuzu {
  background-color: #e8e4da; }
  .pan .pankuzu .breadcrumb {
    margin-left: 0;
    padding-left: 0; }
  .pan .pankuzu .breadcrumb li {
    display: inline;
    /*横に並ぶように*/
    list-style: none;
    font-weight: bold;
    /*太字*/ }
  .pan .pankuzu .breadcrumb li:after {
    /* >を表示*/
    content: '>';
    padding: 0 3px;
    color: #aca593; }
  .pan .pankuzu .breadcrumb li:last-child:after {
    content: ''; }
  .pan .pankuzu .breadcrumb li a {
    text-decoration: none;
    color: gray; }
  .pan .pankuzu .breadcrumb li:first-child a:before {
    /*家アイコン*/
    font-family: FontAwesome;
    content: '\f015';
    font-weight: normal;
    font-size: 1.1em;
    color: #887f69; }
  .pan .pankuzu .breadcrumb li a:hover {
    text-decoration: underline; }

.color-size {
  width: 100%; }

.item-view-bg {
  background-color: white;
  padding: 5% 10%; }
  .item-view-bg h2 {
    font-size: 100%;
    font-weight: bold; }
  .item-view-bg .item-v {
    display: flex;
    align-items: stretch; }
  .item-view-bg .item_title {
    margin: 3% 0; }
  .item-view-bg .item-li {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
    .item-view-bg .item-li .li {
      width: 47%;
      padding: 1%; }

.more-detail {
  display: flex;
  align-items: stretch; }

.table {
  width: 100%;
  border: none; }
  .table table th {
    /*table内のthに対して*/
    padding: 10px;
    /*上下左右10pxずつ*/
    text-align: center;
    background-color: #f9f9f5;
    color: #887f69; }
  .table img {
    vertical-align: middle; }
  .table table td {
    /*table内のtdに対して*/
    padding: 3px 10px;
    /*上下3pxで左右10px*/
    text-align: center;
    color: #887f69; }
    .table table td .pass1 {
      font-size: 200%; }
    .table table td span {
      color: #e80f66;
      font-size: 150%; }
  .table table {
    width: 100%;
    border: none; }
  .table .pass2 imag {
    float: left; }
  .table .pass3 {
    text-align: left; }

.more-detail {
  width: 100%; }

.item-view h3 {
  color: #887f69;
  font-size: 100%;
  border: none;
  border-bottom: 1px #887f69 solid;
  padding-bottom: 3%; }
.item-view h4 {
  color: #887f69;
  font-size: 100%;
  height: 1px; }

.item-view0 {
  display: flex;
  align-items: stretch; }
  .item-view0 .item-view1 {
    width: 65%;
    margin-right: 5%; }
  .item-view0 .item-view2 {
    width: 30%; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.new-items-products #list_img {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
.new-items-products li {
  width: 50%;
  margin: 1%;
  width: 48%; }

/*# sourceMappingURL=apple.css.map */
